<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         timeoutForSmallTests="0.3"
    >
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>

        <testsuite name="fast">
            <directory suffix="Test.php">tests/</directory>
            <groups>
                <exclude>
                    <group>medium</group>
                    <group>large</group>
                </exclude>
            </groups>
        </testsuite>
    </testsuites>
    <php>
        <env name="CONNECTION_FILE" value="tests/etc/connection.php" />
        <env name="DI_FILE" value="tests/etc/di.php" />
        <env name="SCHEMA_FILE" value="tests/etc/schema.php" />
    </php>
</phpunit>
